<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="accouting_system_manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="accouting_system_manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <accouting_system_manager.Properties.Settings>
            <setting name="SERVER_NAME" serializeAs="String">
                <value>.\SQL</value>
            </setting>
            <setting name="DB_PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_NAME" serializeAs="String">
                <value>ESQ+</value>
            </setting>
            <setting name="DB_USER" serializeAs="String">
                <value />
            </setting>
            <setting name="MIGRATION" serializeAs="String">
                <value>1</value>
            </setting>
        </accouting_system_manager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <accouting_system_manager.Properties.Settings>
            <setting name="AUTH_LOGIN" serializeAs="String">
                <value>6j5fQf0yK3jdREHsPTWJfcLb+98fNQ4gJu9KGcgB/dodTcRkHScNp7YCwZ270Ww8myMFIl/xfXIxsEhd8gYifGxpI0UoUX9TyHObg62YkxkBvbdxCt2Fo1jfevRJUa1i</value>
            </setting>
            <setting name="AUTH_PASS" serializeAs="String">
                <value>2tQSwVxOg971RUNJtlJWMMNoG4u0omK48/n91e0P+FxS0EsOF3A++UO9siDJlrOscQpdFopOrrQR9EIMkhWQZHU2Nf8ZFfUn2/FyEjZ7Fq92WXxj8iSBt4XjCqim4lpq</value>
            </setting>
        </accouting_system_manager.Properties.Settings>
    </applicationSettings>
</configuration>
